body {
  background-color: #1f1f1f;
  margin: 0;
}

.white-icon {
  color: white;
}

.gray-icon {
  color: rgb(165, 165, 165);
}

.blue-icon {
  color: #36a6ff;
}

#search-icon {
  color: rgb(150, 146, 146);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #2e2d2d;
  height: 55px;
  position: sticky;
  width: 100vw;
}

#left-header {
  padding-left: 25px;
}

#left-header li {
  padding: 10px 30px 0 0;
}

#rigth-header {
  padding-left: 8%;
}

#rigth-header li {
  padding: 10px 20px 0 0;
}

#div-search {
  display: flex;
  flex-direction: row;
  padding: 10px 0 0 10%;
  width: 50%;
}

#search-bar {
  width: 85%;
}

input {
  border: 1px solid rgb(92, 91, 91);
  background-color: #1f1f1f;
  height: 25px;
  width: 100%;
  font-size: 16px;
}

#div-icon {
  background-color: rgb(92, 91, 91);
  margin-bottom: 16px;
}

#div-icon i {
  padding: 3px 15px 0 15px;
}

.parent span {
  background-color: black;
  color: white;
  position: absolute;
  font-size: 14px;
  font-weight: 550;
  bottom: 8px;
  right: 5px;
}

#account-logo {
  color: #36a6ff;
  padding: 5px 0;
  margin-bottom: 8px;
  border-radius: 2px;
  border: 1px solid #3ea6ff;
  display: flex;
  justify-content: center;
}

.video-description span {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

#account-logo span {
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  padding: 5px 2px 0 5px;
}

#video-frame {
  padding: 20px 0 0 4%;
  margin-right: 0;
  position: static;
}

#general-info {
  padding-left: 4%;
}

#general-info h2 {
  padding-bottom: 0;
}

#general-info ul {
  padding-left: 0;
  padding-bottom: 10px;
  align-items: center;
  border-bottom: 1px solid #69656563;
  width: 66%;
}

#visits {
  padding-right: 44%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.descripcion-text {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding-left: 5px;
  padding-right: 30px;
}

li #like-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #aaa;
  width: 160px;
  margin-right: 30px;
  padding-bottom: 10px;
}

#section-video {
  float: right;
  margin-top: 20px;
  width: 31%;
}

iframe {
  width: 66%;
  border: none;
}

.video-thumbnail {
  display: flex;
  flex-direction: row;
}

.video-thumbnail a {
  padding-right: 15px;
}

.video-thumbnail h4 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 0;
  padding-bottom: 0;
  font-size: 14px;
}

.video-description {
  position: static;
}

#list-videos {
  padding: 0;
  flex-direction: column;
}

#list-videos li {
  padding-bottom: 3px;
}

#user-logo {
  border-radius: 50%;
}

#channel-description {
  font-family: 'Roboto', sans-serif;
  padding: 0 0 10px 3%;
}

#user-description {
  display: flex;
  flex-direction: row;
  padding: 35px 0 10px 4%;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background-color: #cb0001;
  color: white;
  border-radius: 2px;
  white-space: nowrap;
  border: none;
  font-size: 14px;
  height: 40px;
  width: 110px;
}

#channel-name {
  padding: 9px 63% 0 10px;
}

#subscribers {
  padding-top: 8px;
  font-size: 13px;
}

#subscribe-button {
  padding-top: 9px;
}

#commentaries {
  width: 63%;
  margin-left: 4%;
}

#commentaries-info {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #69656563;
}

#commentaries-info h4 {
  font-size: 16px;
  padding-right: 50px;
}

#commentaries-info i {
  padding-top: 18px;
  padding-right: 10px;
}

#commentaries-info p {
  padding-top: 8px;
  font-size: 14px;
}

#add-comment {
  display: flex;
  flex-direction: row;
}

.parent img {
  position: relative;
  top: 0;
  left: 0;
}

#commentaries img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#add-comment input {
  border: none;
  border-bottom: 1px solid #69656563;
  padding-top: 10px;
  margin-left: 20px;
}

#comments {
  font-family: 'Roboto', sans-serif;
}

#comments img {
  margin-top: 40px;
  margin-right: 10px;
}

#profile {
  display: flex;
  flex-direction: row;
}

#profile div {
  font-size: 13px;
  padding-top: 41px;
}

#comment {
  padding-top: 5px;
  font-size: 14px;
  margin-top: 0;
}

#comment-likes {
  font-size: 13px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

#comment-likes i {
  font-size: 16px;
  padding-right: 10px;
}

#comment-likes #thumb-down {
  padding-left: 20px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

@media (min-width: 0) and (max-width: 1100px) {
  .video-description span { display: none; }
  .video-description h4 { font-size: 12px; }
  #visits { padding-right: 16%; }
  #channel-name { padding-right: 45%; }
}

@media (min-width: 0) and (max-width: 880px) {
  #section-video { display: none; }
  #commentaries { width: 80%; }

  #general-info ul {
    width: 70%;
    border-bottom: none;
  }
  iframe { width: 100%; }
  #visits { padding-right: 41%; }
  #channel-name { padding-right: 60%; }
}
